* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #3D3D3D;
}

.nav {
	height: 60px;
	display: block;
	margin-top: 0;
	background-color: #ededed;
	box-shadow: 0 1px 1px rgba(173,168,168,.1);
    border: 1px solid rgba(0,0,0,.1);
}

.logo {
	width: 35px; 
	height: 35px;
	margin-left: 10px;
}

.home {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px !important;
	font-size: 25px;
	color: #3D3D3D;
}

.mission-statement {
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 60px;
	font-size: 20px;
}

/*.steps {
	margin:0 auto;
	display: inline-block;
	margin-top: 50px;
	height: 0px;
	margin-bottom: 60px;

}*/




/*.step-images div {
	margin-top: 70px;
	display: inline-block;
	margin:0 auto;
}

.steps-images {
	margin-top: 70px;

}

.step-1-image {
	width: 140px;
	height: 140px;
	border: none;
	margin-left: 300px;
}

.step-2-image {
	width: 240px;
	height: 180px;
	margin-left: 115px;
}

.step-3-image {
	width: 140px;
	height: 140px;
	margin-left: 115px;
}

.step-1 {
	margin-left: 270px;
	*/

#dogs {
	width: 185px;
}

.step-card {
  border: none;	
  margin-bottom: 20px;
  margin: 20px;
  text-align: center !important;
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-content p {
  margin: 0.5em 0;
}

.image {
	width: 140px;
	height: 140px;
	text-align: center !important;
	margin: auto;
	margin-bottom: 20px;
}



#start-quiz {
	margin:0 auto;
	display: block;
	margin-top: 65px;
	margin-bottom: 15px;
	width: 170px;
	height: 50px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}

button > a {
	text-decoration: none;
	color: white;
}

#donate {
	margin:0 auto;
	/*display: block;*/
	/*margin-top: 65px;
	margin-bottom: 15px;*/
	width: 240px;
	height: 45px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;
}

.quiz-bypass {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 15px;
	font-size: 20px;
}

.search {
	display: inline-block;
	width: 300px;
	height: 80px;
	box-shadow: 0 1px 1px rgba(173,168,168,.1);
    border: 1px solid rgba(0,0,0,.1);
    /*background-color: white;*/
    font-size: 20px;
}

.breed-search {
    margin-left: 240px;  
}

.search-div {
	font-size: 0;
	margin-top: 50px;
}

.quiz-description > p {
	padding-bottom: 0;
}

/*.card {
	display: inline-block !important; 
	margin: 10px;
	width: 33.33%;
}

.card-img-top {
	width: 318px;
	height: 180px;
}*/

.submit {}


.dog-card {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
}

.card-img-top {
	width: 318px;
	height: 180px;
}