* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.nav {
	height: 70px;
	display: flex;
	margin-top: 0;
	background-color: #ededed;
	box-shadow: 0 1px 1px rgba(173,168,168,.1);
    border: 1px solid rgba(0,0,0,.1);

}

body {
	background-color: #fae6c9;
}

.logo {
	width: 30px; 
	height: 30px;
	margin-left: 10px;
}

#donate {
	margin:0 auto;
	width: 240px;
	height: 45px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;
}

button > a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none !important;
	color: #ededed !important;

}

.home {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
	font-size: 25px;
	color: #3D3D3D;
	margin-top: 10px !important;
	padding-top: 5px;
}

.list-group-item {
	width: 700px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin: 0 auto;
	display: block;
}

button:hover {
	background-color: #f0ad4e;
	color: white;
}

button {
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.container > p {
	margin-top: 40px;
	font-size: 20px;
}

.container {
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
}

.on-click {
	background-color: #f0ad4e !important;
	color: white;
}

.submit {
	margin:0 auto;
	display: block;
	margin-top: 40px;
	margin-bottom: 100px;
	width: 170px;
	height: 50px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}

.card-img-top {
	width: 700px;
}

#footer {

   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   background:#999;



}

.link {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	bottom: 10px;
	display: inline-block;

}

.credit {
	margin-left: 100px;
	padding-top: 50px;
	font-weight: 700;
	position: relative;
	bottom: 10px;
	display: inline-block;

}

.question1 {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	margin-left: 40px;
	margin-right: 10px;
}


.question1 span {
	color: #f0ad4e !important;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	line-height: 52px;
	font-size: 20px;

}

.spacer {
   padding:0 5px;
}

.image-container {
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
}

.q1 {
	margin-right: 300px;
	font-size: 20px;
}

.q3 {
	margin-right: 300px;
}


.q6 {
	margin-left: 100px;
}

.q4 {
	margin-right: 150px;
}

