* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #fae6c9;
}

.nav {
	height: 70px;
	display: flex;
	margin-top: 0;
	background-color: #ededed;
	box-shadow: 0 1px 1px rgba(173,168,168,.1);
    border: 1px solid rgba(0,0,0,.1);
    display: flex;
    width: 100%;
    min-width: 1000px;

}

.home {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px !important;
	font-size: 25px;
	color: #3D3D3D;
	margin-top: 10px;
	padding-top: 5px;
}

.logo {
	width: 30px; 
	height: 30px;
	margin-left: 10px;
}

#donate {
	margin:0 auto;
	width: 240px;
	height: 45px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;
}

button > a {
	text-decoration: none;
	color: white;
}

.container1 {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to right, #fae6c9, #f3bd71);
	width: 100%;
	min-width: 1000px;
	justify-content: center;
	text-align: center;
	color: #696969;

}

.search {
	display: inline-block;
	width: 300px;
	height: 80px;
	box-shadow: 0 2px 2px rgba(173,168,168,.1);
    border: 1px solid rgba(0,0,0,.1);
    font-size: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
}

.search-div {
	font-size: 0;
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}



.statement {
	margin-top: 30px;
	font-size: 20px;
	margin-right: 30px;
	margin-left: 30px;
}



.view-all {
	
	margin:0 auto;
	width: 170px;
	height: 45px;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 40px !important;
	text-align: center;
	margin: auto;

}

.breed-list {
	width: 400px;
	height: 260px;
	display: flex;
	flex-direction: row;
	flex-flow: flex-wrap;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card {
	display: inline-block !important;
	vertical-align: top;
	margin-top: 30px;
}

.dog-card {
	margin-right: 40px;
	margin-top: 40px;
}

.card-img-top {
	width: 320px;
	height: 320px;
	text-align: center;
}

.card-text {
	list-style: none;
	text-align: left;
	padding-left: 0px;
}
.start-search {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 15px;
	font-size: 20px;
	padding-top: 50px;
}

.match-results {
	margin-left: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.submit {
	height: 80px;
	width: 80px;
	background-color: #f0ad4e;


}


.mb-3 {
	display: inline-block !important;
	width: 400px;
}

.breeds {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}


.label {
	font-size: 25px;
	background-color: #ededed;
    margin-left: 0px !important;
    padding-left: 30px;
    color: #545454;
   	height: 70px;
   	padding-top: 15px;
   	width: 100%;
   	min-width: 1000px;
}

#shelter-btn {
	background-color: #f0ad4e;
	border: none;
}

.icon {
	height: 50px;
	width: 50px;
	margin-right: 10px
}

.search-container {
	background-color: #ededed;
	height: 100%;
	min-width: 1000px;	
}

.card .mb-3 {
	margin-left: 10px;
}


#footer {

   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   background:#999;



}

.link {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	bottom: 10px;
	display: inline-block;

}

.credit {
	margin-left: 100px;
	padding-top: 50px;
	font-weight: 700;
	position: relative;
	bottom: 10px;
	display: inline-block;

}

.view-all-results {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 40px;
}


h2 {
	text-align: center;
	margin-bottom: 100px;
}



.label2 {
	font-size: 25px;
	background-color: #ededed;
    margin-left: 0px !important;
    padding-left: 30px;
    color: #545454;
   	height: 70px;
   	padding-top: 15px;
   	width: 100%;
   	min-width: 1000px;
}

.hidden {
	display: none;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none !important;
	color: #ededed !important;
}

.search-results {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 100px;
}

#dog {
	width: 400px !important;
	height: 270px !important;
}