* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #3D3D3D;
}

.nav {
	height: 60px;
	display: block;
	margin-top: 0;
	background-color: #ededed;
	box-shadow: 0 1px 1px rgba(173,168,168,.1);
    border: 1px solid rgba(0,0,0,.1);
    min-width: 1000px;

}

.logo {
	width: 30px; 
	height: 30px;
	margin-left: 10px;
}

.home {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px !important;
	font-size: 25px;
	color: #3D3D3D;
	margin-top: 10px;
}

.mission-statement {
	text-align: center;

	margin-top: 60px;
	font-size: 18px;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 70px !important;
	display: flex;
	justify-content: center;
	
}

#dogs {
	width: 185px;
}

.step-card {
  border: none;	
  margin-bottom: 20px;
  margin: 20px;
  text-align: center !important;
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-content p {
  margin: 0.5em 0;
}

.image {
	width: 140px;
	height: 140px;
	text-align: center !important;
	margin: auto;
	margin-bottom: 20px;
}



#start-quiz {
	margin:0 auto;
	display: block;
	margin-top: 65px;
	margin-bottom: 15px;
	width: 170px;
	height: 50px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}

button > a {
	text-decoration: none;
	color: white;
}

#donate {
	margin:0 auto;

	width: 240px;
	height: 45px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;
}

.quiz-bypass {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 15px;
	font-size: 20px;
	padding-top: 60px;
}

.search {
	display: inline-block;
	width: 300px;
	height: 80px;
	box-shadow: 0 2px 2px rgba(173,168,168,.1);
    border: 1px solid rgba(0,0,0,.1);

    font-size: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
}

.breed-search {

}

.search-div {
	font-size: 0;
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.quiz-description > p {
	padding-bottom: 0;
}



.submit {

	width: 80px;
	height: 80px;
	border-radius: 0px;
}


.dog-card {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 50px;
}

.card-img-top {
	width: 320x;
	height: 320px;
	text-align: center;
}

.card-text {
	list-style: none;
}

#shelter-btn {
	background-color: #f0ad4e;
	border: none;
}

.icon {
	height: 50px;
	width: 50px;
	margin-right: 10px
}

.search-container {
	background-color: #ededed;
	height: 100%;
	min-width: 1000px;


}

.background-image {
	height: 100%;
	width: 100%;
	min-width: 1000px;
}

.image-container {
	position: relative;
}

h2 {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	margin-left: 40px;


}

h2 span {
	color: #f0ad4e !important;
	
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	line-height: 73px;
}

.spacer {
   padding:0 5px;
}

#footer {

   left:0px;
   bottom:0px;
   height:160px;
   width:100%;
   background:#999;

}

.github {
	margin-left: 100px;
	margin-right: 40px;

}

.credit {
	margin-left: 100px;
	padding-top: 40px;
	font-weight: 700;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none !important;
	color: #ededed !important;

}

#learn-more {
	color: #000099;
}

.results {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#steps {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#flex-item {
	display: flex;
	justify-content: center;
}